#new-post-card {
    align-content: center;
    width: 700px;
    border: 3px solid #4c58ed;
    padding: 50px;
    background-color: whitesmoke;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 25px;
    margin: 3% auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.inner-new-post-card {
    padding-bottom: 25px;
}


.image-wrapper img {
    width: 90px;
    height: 90px;
    padding: 5px;
    border-radius: 20px;
}