#outer-div {
    align-content: center;
    width: 700px;
    border: 3px solid #4c58ed;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 25px;
    margin: 3% auto;
    overflow-x: hidden;
    overflow-y: auto;
}

table, tr, td {
    border: 1px solid cornflowerblue;
    border-radius: 10px;
    border-collapse: collapse;
    margin: 30px;
    height: 100%;
    flex-grow: 1;
}

#new-user-username {
    border-radius: 5px;
    border-collapse: collapse;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
}

#textarea-description-td {
    position: relative;
}
#textarea-description, #update-user-description, #new-user-description, #textarea-description-td {
    width: 92%;
    height: 50px;
    margin: 3%;
}

button {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
}

